body {
    background-image: url('/images/GradientBackground_V2.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.nav{
    min-height: 40px;
    background: black;
    text-align: center;
    vertical-align: middle;
    padding: 10px 2px;
}

body {
  overflow: auto;
    height: 100%;
}

/* Style the navigation bar */
.navbar {
    width: 100%;
    background-color: #555;
    overflow: auto;
  }

  .nav {
      padding: 0px;
  }
  

  
  /* Navbar links on mouse-over */
  .navbar a:hover {
    background-color: #000;
  }
  
  
  
  /* Add responsiveness - will automatically display the navbar vertically instead of horizontally on screens less than 500 pixels */
  @media screen and (max-width: 500px) {
    .navbar a {
      float: none;
      display: block;
    }
  }

.nav-title{
  color : white;
  font-size: 25px;
}

.rounded-circle {
  max-width: 200px;
  max-height: 200px;
    /* width: 48px;
    height: 48px; */
    /* margin-left: 8px;
    margin-right: 8px; */
}

i {
    font-size: 22px;
    display: inline-block;
    color: white;
    text-align: center;
    vertical-align: middle;
    color: #0098a3
}

.nav-item {
    display: inline-block;
}

.nav-link {
    padding: 0.5rem 0.5rem;
}

.div-dashboard {
    border-radius: 25px !important;
  border-width: 1px !important;
  border-style: solid !important;
  border-color: white;
  width: 90%;  /*Tested and working as expected: */
  padding-top: 1%;
  margin: 0px auto;
  float: none;
}

.motorSpeed {
    -webkit-box-shadow: 0px 3px 15px 1px rgba(0,102,10,1);
-moz-box-shadow: 0px 3px 15px 1px rgba(0,102,10,1);
box-shadow: 0px 3px 15px 1px rgba(0,102,10,1);
border-color: rgba(0,102,10,1);
}

.waterLevel {
    -webkit-box-shadow: 0px 3px 15px 1px  rgba(201,201,201,1);
-moz-box-shadow: 0px 3px 15px 1px  rgba(201,201,201,1);
box-shadow: 0px 3px 15px 1px  rgba(201,201,201,1);
border-color:  rgba(201,201,201,1);
}

.motorVibration {
    -webkit-box-shadow: 0px 3px 15px 1px #c77824;
-moz-box-shadow: 0px 3px 15px 1px  #c77824;
box-shadow: 0px 3px 15px 1px  #c77824;
border-color:  #c77824;
}

.pipePressure {
  -webkit-box-shadow: 0px 3px 15px 1px #4f1eaa;
-moz-box-shadow: 0px 3px 15px 1px  #4f1eaa;
box-shadow: 0px 3px 15px 1px  #4f1eaa;
border-color:  #4f1eaa;
}

.dashboard-header{
    font-size: 25px;
    margin: 0 0 0 10px;
    padding: 0;
}

.table tr:hover{
    color: orange;
    background:rgba(10, 8, 12, 0.81)
}

table {
  max-height: 400px;
  overflow-y:auto;
}

.detail-div {
  border-radius: 5px !important;
  border-width: 1px !important;
  border-style: solid !important;
  border-color: #05a993 ;
  padding-top: 1%;
  margin: 0px auto;
  float: none;
}

.spec-content {
  color: white;
  font-size: 20px;
}

.spec-detail {
 padding-left: 20px;
 padding-right: 20px;
 vertical-align: middle;
 padding-top: 5px;
 padding-bottom: 5px;
  /* display: inline-block; */
  /* background: yellow;     */
  border: 1px solid #05a993;
 
  }

  .btn-control{
    /* background: linear-gradient(to right, #089d7d, #0d7560, #114e43, #102b26, #010605); */
    max-width: 70%;
    margin-left: auto;
  }

  /* *************************************************
  /*                  GAUGE CSS
  /* ************************************************* */

.box {
      float: left;
      width: 100%;
      box-sizing: border-box;
      padding: 0;
}
.gauge {
  width: 100%;
  height: 200px;
}


  /* *************************************************
  /*                  CHART JS
  /* ************************************************* */
.chart-canvas {
  height: 635px !important;
  width: 100% !important;
  margin: 2px;
}


.analyzer-chart {
  height: 500px !important;
  width: 100% !important;
  margin: 2px;
  /* border: solid 2px red; */
}
  /* *************************************************
  /*                  CUSTOM RADIO
  /* ************************************************* */

.label-radio {
  display: inline-block;
  /* width: 00px; */
  /* height: 60px; */
  width: 120px;
  border: solid 3px rgba(255, 255, 255,0.3);
  border-radius: 30px;
  /* font-size: 25px; */
  padding: 5px;
  margin: auto;
  cursor: pointer;
}

.input-radio {
  display: none;
}

.input-radio:checked + label {
  border: solid 3px #41aaaa;
}

  /* *************************************************
  /*                  MAP PAGE STYLE
  /* ************************************************* */
.title {
    /* text-transform: uppercase; */
    margin: auto;
    font-family: verdana;
    font-size: 30px;
    font-weight: 10;
    color: #f5f5f5;
    /* text-shadow: 1px 1px 1px #919191,
        1px 2px 1px #919191,
        1px 3px 1px #919191,
        1px 30px 60px rgba(16,16,16,0.4); */
}

.title:hover {
    color: orange;
    text-decoration: none;
}


.text-border {
    padding: 10px;
    /* background:  rgba(16,16,16,0.6); */
    display: inline-block;
    position: absolute;
    top: 2%; 
    left: 25%;
    width: 50%;

    /* transform: translate(50%,-50%); */
}

img {
    width: 350px;
    height: 350px;
}

.container-fluid {
    height: 100vh;
 
}


/* Navigation color */
.my-nav{
  background: #001312;
}