<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
  <!-- Font awesome-->
  <link rel="stylesheet" href="/stylesheets/all.css">
  <!-- OWN CSS -->
  <link rel="stylesheet" href="/stylesheets/MyCss/navigation.css">

  <title>Navigation</title>
</head>

<body>
  <div class="container-fluid px-0">
      <ul class="nav nav-tabs pl-4 fixed-top my-nav" role="tablist">
          <li class="nav-item my-auto ml-5">
            <a class="nav-link nav-title text-white" data-toggle="tooltip" data-placement="bottom" title="Back" href="#home">Navigation</a>
          </li>
    
        </ul>

    <!-- Tab content -->
    <div class="tab-content" style="margin-top : 70px">
      <div id="home" class="container-fluid px-5 row"><br>

        <!--Dashboard-->
        <div class="col-sm">
          <div class="text-border">
            <a href="/dashboard"><img class="rounded-circle mx-auto d-block mt-5" src="/images/dashboard.png" alt="Test and Packing machine"></a>  
              <div class=" my-5 text-center"><a href="/dashboard" class="title">Dashboard</a> </div>
          </div>
        </div>

        <!--OEE-->
        <div class="col-sm">
          <div class="text-border">
            <a href="/oee"><img class="rounded-circle mx-auto d-block mt-5" src="/images/oee.png" alt="Punching machine" style="border-radius: 0%!important;"></a>
              <div class=" my-5 text-center"><a href="/oee" class="title">OEE</a> </div>
          </div>
        </div>

        <!--Planning-->
        <div class="col-sm">
          <div class="text-border">
             <a href="/planning"><img class="rounded-circle mx-auto d-block mt-5" src="/images/setting.png" alt="Punching machine"></a>
              <div class=" my-5 text-center"><a href="/planning" class="title">Planning</a> </div>
          </div>
        </div>

      </div>
    </div>
  </div>

  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="/javascripts/jquery-3.3.1.min.js"></script>
  <script src="/javascripts/popper.min.js"></script>
  <script src="/javascripts/bootstrap.min.js"></script>
  <!-- Own scripts -->
  <script src="/javascripts/MyScripts/navigation.js"></script>
</body>

</html>